<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FinAI Platform</title>
</head>



<body>

    <!-- Sidebar -->
    {% include "components/sidebar.html" %}

    <!-- 主內容區域 -->
    <div class="content-with-sidebar">
        {% block content %}{% endblock %}
    </div>

</body>
<style>
  .a2-help h3 {
    margin-bottom: 8px;
  }
  .a2-help h4 {
    margin-top: 16px;
    margin-bottom: 4px;
  }
  .a2-help ul {
    margin-left: 1.2rem;
  }
  .a2-help li {
    margin-bottom: 2px;
  }
</style>


</html>
